body {
  margin: 0;
  background-color: rgb(60, 104, 158);
  color: white;
}
::-webkit-scrollbar {
  width: 0px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.loader {
  display: flex;
  justify-content: center;
}
p {
  margin-bottom: 7px;
}
input {
  padding: 7px;
  border-radius: 5px;
  outline: none;
  border: solid 1px grey;
}

button {
  margin-top: 2rem;
  padding: 5px 10px;
  border: solid 1px grey;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.basic_details {
  border: solid 1px grey;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.basic_details p {
  padding: 10px;
  border: solid 1px grey;
  border-radius: 7px;
  text-align: center;
}
.input_label_div > div {
  margin: 20px 0;
}
b {
  font-size: 22px;
  color: rgb(88 255 155);
}
.nav_div {
  padding: 5px 20px;
  background-color: rgb(41, 75, 117);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px lightgray;
}
.nav_menu {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_menu_link {
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.nav_menu_link:hover {
  color: gray;
}
.price_span {
  width: 5%;
  padding: 5px;
  background-color: lightgray;
  margin-left: 5px;
  font-size: 10.5px;
}
input {
  background-color: rgb(41, 75, 117);
  color: white;
}
table,
th,
td {
  margin: 10px;
  padding: 6px;
  text-align: center;
  border: 1px solid rgb(139, 139, 139);
  font-size: 14px;
}
tr:hover {
  background-color: rgb(41, 75, 117);
  cursor: pointer;
}
.table_container {
  height: 450px;
  overflow-y: scroll;
}
.fixed_header th {
  position: sticky;
  top: 0;
  background-color: rgb(41, 75, 117);
  z-index: 1;
}
