body {
  margin: 0;
}
p {
  margin-bottom: 7px;
}
input {
  padding: 7px;
  border-radius: 5px;
  outline: none;
  border: solid 1px grey;
}

button {
  margin-top: 2rem;
  padding: 5px 10px;
  border: solid 1px grey;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.basic_details {
  border: solid 1px grey;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.basic_details p {
  padding: 10px;
  border: solid 1px grey;
  border-radius: 7px;
  text-align: center;
}
.input_label_div > div {
  margin: 20px 0;
}
b {
  font-size: 22px;
  color: dodgerblue;
}
.nav_div {
  padding: 5px 20px;
  background-color: #c7c7c7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_menu {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_menu_link {
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.nav_menu_link:hover {
  color: gray;
}
